* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1 {
  /* padding: 20px; */
  /* border: 1px solid red; */
  /* border-width: 20px;
  border-style: solid;
  border-color: red; */

  /* padding: 20px;
  margin: 20px;
  border: 20px solid transparent; */
}

p {
  /* border: 2px solid black; */

  /* margin - external space */
  /* single values */
  /* margin: 200px; */

  /* two values */
  /* margin: 200px 60px; */

  /* three values */
  /* margin: 200px 70px 900px; */

  /* four values */
  /* margin: 200px 50px 70px 100px; */

  /* padding */
  /* single value */
  /* padding: 70px; */

  /* two values */
  /* padding: 40px 150px; */

  /* three values */
  /* padding: 30px 200px 90px; */

  /* four values */
  /* padding: 20px 60px 90px 89px; */
}

.box {
  /* border: 35px solid black;
  padding: 20px;
  margin: 20px; */

  /* border-radius */
  /* border-radius: 50%;
  width: 250px;
  height: 250px; */

  /* border: 3px solid black;
  width: 150px;
  height: 150px;

  margin: 50px auto; */
  /* border-top-right-radius: 30px; */
  /* border-top-left-radius: 30px; */
  /* border-bottom-right-radius: 30px; */
  /* border-bottom-left-radius: 30px; */
}

/* css position and layout */
