* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  background-image: url("hero.png");
  height: 100vh;
}

nav {
  padding-top: 10px;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
}

.nav-wrapper .left {
  display: flex;
  align-items: center;
}

.nav-wrapper img {
  width: 50px;
}

.search {
  display: flex;
  align-items: center;
  background-color: rgba(256, 256, 256, 0.1);
  border-radius: 15px;
  padding: 5px;
  margin-left: 20px;
  font-size: 14px;
  width: 300px;
}

.search input {
  background-color: transparent;
  border: none;
  outline: none;
  margin-left: 5px;
}

.search svg {
  color: gray;
  margin-left: 5px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  margin-left: 20px;
}

.signup {
  color: black;
  background-color: #cf9d4d;
  padding: 5px 10px;
  border-radius: 3px;
}

.contents {
  margin-top: 180px;
  margin-left: 150px;
  color: white;
}

.contents h1 {
  font-size: 40px;
}

.contents p {
  margin: 30px 0px;
  line-height: 1.5rem;
  word-spacing: 0.2rem;
  letter-spacing: 0.1rem;
  font-size: 18px;
}

.contents a {
  background-color: #cf9d4d;
  color: white;
  padding: 10px 20px;
  border-radius: 15px;
  text-decoration: none;
  font-size: 14px;
}

.hamburger {
  color: white;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 940px) {
  .nav-wrapper {
    position: relative;
    padding: 10px;
  }

  .nav-wrapper .right {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    left: 0px;
    top: 50px;
    display: none;
  }

  nav a {
    margin-left: 0px;
    display: block;
    padding: 10px;
  }

  nav a:hover {
    background-color: rgba(256, 256, 256, 0.1);
  }

  .signup {
    display: inline-block;
    margin: 10px;
  }

  .signup:hover {
    background-color: #cf9d4d;
  }

  .contents {
    margin-top: 50px;
    margin-left: 20px;
  }

  .contents h1 {
    font-size: 30px;
  }

  .hamburger {
    display: block;
  }
}

@media screen and (max-width: 500px) {
  .nav-wrapper .left {
    width: 80%;
  }

  .search {
    width: 75%;
    margin-left: 10px;
  }

  .contents {
    text-align: center;
    margin-left: 0px;
  }
}

@media screen and (min-width: 941px) {
  .nav-wrapper .right {
    display: block !important;
  }
}
